body {
    background-color: black;
    color: gainsboro;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.header {
    background-color: bisque;
    text-align: center;
    font-size: 30px;
}

h1 {
    color: grey;
}
.phrase {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    line-height: 90px;
}

.subphrase {
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 70px;
}

.box {
   height: 300px;
   width: 300px;
   background-image: url("https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8N3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
   margin: 50px;
   padding: 10pt;
   background-position: center;
   float: left;
}

.box1 {
    height: 300px;
    width: 300px;
    background-image: url("https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=449&q=80");
    margin: 50px;
    padding: 10px;
    background-position: center;
    float: left;
 }

 .box2 {
    height: 300px;
    width: 300px;
    background-image: url("https://images.unsplash.com/photo-1565299585323-38d6b0865b47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=480&q=80");
    margin: 50px;
    padding: 10px;
    background-position: center;
    float: left;
 }

 .footer {
    color: wheat;
    position: fixed bottom;
    font-family:monospace;
    clear: both;
    line-height: 10px;
    font-size: 12px;
    text-indent: 50px;
 }

 .introduction {
    text-align: center;
 }

h2 {
    color: darkgoldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

span {
    color:antiquewhite;
}

 img {
    float: left;
    margin-right: 40px;
 }

 a:link {
    color: #663366;
 }

 a:hover {
    color: blue;
 }
 a {
    text-decoration: none;
 }
